* {
  margin-top: 0%;
}

@font-face {
  font-family: BROMPH;
  src: url(font/BROMPH_TOWN.ttf);
}

body {
  background: #361901;
  background-size: 100%;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 6%;
  height: 80px;
  padding-top: 4%;
}

.logo h2 {
  color: #ffffff;
  font-family: BROMPH;
  font-size: 40px;
  letter-spacing: 3px;
}

.logo h2 span {
  color: #ff8001;
  font-family: BROMPH;
}

.header ul {
  display: flex;
  align-items: center;
}

.menu li {
  letter-spacing: 1px;
  cursor: pointer;
  margin: 0 15px;
  list-style-type: none;
  text-transform: uppercase;
  color: #999;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 18px;
  font-weight: 700;
  position: relative;
  transition: 0.5s;
}

.menu li:hover {
  color: #ffffff;
  font-size: 20px;
}

.menu li::before {
  position: absolute;
  bottom: -5px;
  content: "";
  width: 0%;
  height: 5px;
  border-radius: 6px;
  transition: 0.3s;
  background-color: #ff8001;
}

.menu li:hover::before {
  width: 100%;
}

.containers_first {
  height: 75%;
  position: absolute;
  top: 20%;
  left: 6%;
  width: 53%;
}

h1 {
  width: 100%;
  text-transform: uppercase;
  font-size: 65px;
  color: #ffffff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
h1 span {
  position: relative;
}

.containers_button {
  position: relative;
  top: 50px;
}

.input_search {
  width: 61.2%;
  margin-top: 25px;
}

.search_form {
  width: 100%;
  display: flex;
}

.search_form button:hover {
  background-color: #333;
  transition: all 0.3s ease-in-out;
}

.input_search ::placeholder {
  font-size: 15px;
  font-style: italic;
}

.input_search {
  width: 60%;
  height: 45px;
  margin-bottom: 25px;
  border-radius: 30px;
  border: 1px solid #ff8001;
  background-color: transparent;
  color: #ffffff;
}

.input_search input {
  padding: 20px;
  width: 100%;
  height: 45px;
  border-radius: 30px;
  border: 1px solid transparent;
  background-color: transparent;
  color: #ffffff;
}

.img_search {
  position: absolute;
  left: 90%;
  top: 11px;
  width: 5%;
}
.img_search img {
  width: 100%;
}

.texte {
  margin-top: 30px;
}

.texte p {
  font-size: 13px;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

.btn-first {
  outline: none;
  background: transparent;
  border: 1px, solid, #ffff;
  border-color: #ffffff;
  font-size: 15px;
  padding: 15px;
  border-radius: 4px;
  width: 200px;
  color: #ffffff;
  cursor: pointer;
}

.btn-first:nth-child(1) {
  background-color: #ff8001;
  font-size: 15px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 3px;
  color: #ffffff;
  margin-right: 10px;
  border: none;
}

.btn-first:nth-child(2) {
  background-color: #fff;
  font-size: 15px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 3px;
  color: #ff8001;
  margin-right: 10px;
  border: none;
}

.btn-first:nth-child(1):hover {
  transition: all 0.3s ease-in-out;
  background: #ffffff;
  color: #ff8001;
}

.btn-first:nth-child(2):hover {
  transition: all 0.3s ease-in-out;
  background: #000000;
  color: #ffffff;
}

.media {
  list-style-type: none;
  position: absolute;
  right: 3.3%;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bulle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 10px 0;
  border: 1px, solid, #ffff;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  cursor: pointer;
  position: relative;
}

.bulle:hover {
  transform: translateY(-8px);
  transition: all 0.3s ease 0s;
}

.image-media {
  width: 30px;
  height: 30px;
}

.img_illus {
  position: absolute;
  width: 40%;

  top: 18%;
  left: 60%;
}

.img_illus img {
  width: 100%;
}
